
{% extends "base.html" %}
{% block userprofile %}
{{fullnames}}
{% endblock %}
{% block page_title %}Завершенные заказы

<button type="button" class="btn btn-default btn-xs dropdown-toggle"><a href="/archive_all/" class="glyphicon glyphicon-warning-sign"> Отправить в архив</a></button>

{% endblock %}
{% block collapse1 %}<ul id="demoo" class="collapse">{% endblock %}
{% block collapse %}<ul id="demo" class="collapse">{% endblock %}
{% block active0 %}class="active"{% endblock %}
{% block content %}

         <div class="table-responsive">
{% for customer, items in full.items() %}
<input type="checkbox" id="hd-{{customer}}" class="hide" />
<label for="hd-{{customer}}" class="table table-hover">{{customer}}</label>
             <div class="table-responsive">
            <table class="table table-hover">
        <thead>
        <tr>
            <th>Номер</th><th>Картридж</th><th>Клиент</th><th><abbr title="Заправка">З</abbr></th>
            <th><abbr title="Фотобарабан">Б</abbr></th><th><abbr title="Вал заряда">П</abbr></th><th><abbr title="Лезвие очистки">О</abbr></th>
            <th><abbr title="Уплотнительное лезвие">У</abbr></th><th><abbr title="Магнитный вал">М</abbr></th>
            <th><abbr title="Дозирующее лезвие">Д</abbr></th><th>Штрих-код</th><th>Метка</th><th>Выполнил</th><th>Дата</th><th>Дата закрытия</th>

        </tr>
        </thead>
        <tbody>
{% for id, cartridge, customer, toner, opc, pcr, wiper_blade, recovery_blade, develop_blade, doctor_blade, barcode, mark, user_close, date, date_close, status in items %}

    <tr class="{{status}}">
        <td onclick='window.location.href="/full_close_order/?barcode={{ barcode }}"; return false'>{{ id }}</td>
        <td onclick='window.location.href="/full_close_order/?barcode={{ barcode }}"; return false'>{{ cartridge }}</td>
        <td onclick='window.location.href="/full_close_order/?barcode={{ barcode }}"; return false'>{{ customer }}</td>
        <td onclick='window.location.href="/full_close_order/?barcode={{ barcode }}"; return false'>{{ toner }}</td>
        <td onclick='window.location.href="/full_close_order/?barcode={{ barcode }}"; return false'>{{ opc }}</td>
        <td onclick='window.location.href="/full_close_order/?barcode={{ barcode }}"; return false'>{{ pcr }}</td>
        <td onclick='window.location.href="/full_close_order/?barcode={{ barcode }}"; return false'>{{ wiper_blade }}</td>
        <td onclick='window.location.href="/full_close_order/?barcode={{ barcode }}"; return false'>{{ recovery_blade }}</td>
        <td onclick='window.location.href="/full_close_order/?barcode={{ barcode }}"; return false'>{{ develop_blade }}</td>
        <td onclick='window.location.href="/full_close_order/?barcode={{ barcode }}"; return false'>{{ doctor_blade }}</td>
        <td onclick='window.location.href="/full_close_order/?barcode={{ barcode }}"; return false'>{{ barcode }}</td>
        <td onclick='window.location.href="/full_close_order/?barcode={{ barcode }}"; return false'>{{ mark }}</td>
        <td onclick='window.location.href="/full_close_order/?barcode={{ barcode }}"; return false'>{{ user_close }}</td>
        <td onclick='window.location.href="/full_close_order/?barcode={{ barcode }}"; return false'>{{ date }}</td>
        <td onclick='window.location.href="/full_close_order/?barcode={{ barcode }}"; return false'>{{ date_close }}</td>
         <td nowrap>
             <button class="btn btn-xs btn-link" id="printBut" onclick="print('{{barcode}}.gif')"><span class="glyphicon glyphicon-print"></span></button>
             <button class="btn btn-xs btn-success" onclick="window.location.href='{{ url_for('close_orders')}}?st=success&id={{ id }}'"><span class="glyphicon glyphicon-ok"></span></button>
             <button class="btn btn-xs btn-warning" onclick="window.location.href='{{ url_for('close_orders')}}?st=warning&id={{ id }}'"><span class="glyphicon glyphicon-exclamation-sign"></span></button>
             <button class="btn btn-xs btn-danger" onclick="window.location.href='{{ url_for('close_orders')}}?del=yes&id={{ id }}'"><span class="glyphicon glyphicon-trash"></span></button>
       </td>
    </tr>

{% endfor %}



        </tbody>
    </table>
</div>
</br>
        {% endfor %}
            </div>

{% endblock %}