
{% extends "base.html" %}

{% block page_title %} Склад {% endblock %}

{% block collapse %}<ul id="demo" class="collapse">{% endblock %}
{% block collapse1 %}<ul id="demoo" class="collapse">{% endblock %}
{% block active1 %}class="active"{% endblock %}


{% block content %}
    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Номер</th><th>Название</th><th>Категория</th><th>Количество</th>
        </tr>
        </thead>
        <tbody>
{% for row in rows %}

    <tr>
        <td>{{ row.id }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.category }}</td>
        <td>{{ row.amount }}</td>
         <td>
            <form action="{{ url_for('del_item')}}" method=post>
                <input type=hidden name="id" value={{row.id}}>
                <input type=hidden name="table" value='cartridges'>
                <input class="btn btn-xs btn-info" type=submit value="Подробности">
            </form>
             <form action="{{ url_for('del_item')}}" method=post>
                <input type=hidden name="id" value={{row.id}}>
                <input type=hidden name="table" value='orders'>
                <input class="btn btn-xs btn-warning" type=submit value="Изменить">
            </form>
            <form action="{{ url_for('del_item')}}" method=post>
                <input type=hidden name="id" value={{row.id}}>
                <input type=hidden name="table" value='orders'>
                <input class="btn btn-xs btn-danger" type=submit value="Удалить">
            </form>
        </td>
    </tr>

{% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}